<div class="container">
 <h1>Edit Post</h1> 
<form action="/editingPost/{{post._id}}?_method=PUT" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" name="title" class="form-control" placeholder="Add Title" value="{{post.title}}">
    
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    <textarea type="text" name="body" class="form-control" 
    placeholder="Enter your comments">{{post.body}}</textarea>
  </div>
  <div class="form-group">
      <label for="status">Status</label>

      <select name="status">
          <option value="private">Private</option>
          <option value="public">Public</option>
      </select>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" name="allowcomments" class="form-check-input" id="checkbox">
    <label class="form-check-label" for="checkbox">Allow Comments</label>
  </div>
  <button type="submit" class="btn btn-primary">SAVE</button>
</form>

</div>